      
    <div style="position: absolute; margin: auto;left: 0;right: 0;text-align: center;z-index: 4;margin-top:100px">
      <div style="height: 75px; width: 500px; margin: 0 auto;background-color: rgb(31, 125, 157); ">
        <h1 style="color: rgb(246, 246, 246);text-align: center;font-size: 50px;">Gov Services</h1>
        </div> 
        <ul style="List-style: none; margin-top:50px">
         <a routerLink="/election"> <li class="cmp" style="margin-right: 20%; display: inline-block">
            <img class="circular_image"  src="../../assets/img/homepage/vote2.jpg"/>
            <p style="font-weight: bold;font-size:16;font-family:'font/Courier Prime Sans';text-align:center;">VOTING</p>
          </li>  
         </a>
          <a  routerLink="/justice">
            <li class="cmp" style="margin-right: 20%; display: inline-block">
              <img class="circular_image"  src="../../assets/img/homepage/court.jpg"/>
              <p style="font-weight: bold;font-size:16;font-family:'font/Courier Prime Sans';text-align:center">JUDICIAL</p>
            </li>        
         </a>

          <li class="cmp" style=" display: inline-block">
            <img class="circular_image"  src="../../assets/img/homepage/police.png"/>
            <p style="font-weight: bold;font-size:16;font-family:'font/Courier Prime Sans';text-align:center">POLICE</p>
          </li>
          
        </ul>  
     <br>
  
        <ul style="List-style: none; margin-top: 25px; margin:0px;">
  
          <li class="cmp" style="margin-right: 20%; display: inline-block">
            <img class="circular_image"  src="../../assets/img/homepage/welfare.jpg"/>
            <p style="font-weight: bold;font-size:16;font-family:'font/Courier Prime Sans';text-align:center;">WELFARE</p>
          </li>
          
          <li class="cmp" style="margin-right: 20%; display: inline-block">
            <img class="circular_image"  src="../../assets/img/homepage/travel.png"/>
            <p style="font-weight: bold;font-size:16;font-family:'font/Courier Prime Sans';text-align:center;">ID, PASSPORT</p>
          </li>
          <li class="cmp" style=" display: inline-block">
            <img class="circular_image"  src="../../assets/img/homepage/healthIcon2.png"/>
            <p style="font-weight: bold;font-size:16;font-family:'font/Courier Prime Sans';text-align:center">HEALTH</p>
          </li>          

        </ul>  
    </div>
  
<footer>
    <div style="position: absolute;bottom: 0%;  left: 0;right: 0;text-align: center;z-index: 1;">
        <img src="../../assets/img/homepage/home5.jpg" />
    </div>     
</footer>

