     
    
    <div style="position: absolute; margin: auto;left: 0;right: 0;text-align: center;z-index: 4;margin-top:150px">
         <h1 style="color:rgb(1, 58, 76);margin-left:5%;font-size: 50px">CHOOSE A COURT:</h1>
        <ul style="List-style: none; margin-top:80px">
          <li class="cmp" style="margin-right: 20%; display: inline-block">
            <img class="circular_image"  src="../../assets/img/law/p1/civil.jpg"/>
            <p style="font-weight: bold;font-size:16;font-family:'font/Courier Prime Sans';text-align:center">CIVIL</p>
          </li>        
          <li class="cmp" style=" display: inline-block">
            <img class="circular_image"  src="../../assets/img/law/p1/criminal.jpg"/>
            <p style="font-weight: bold;font-size:16;font-family:'font/Courier Prime Sans';text-align:center;">CRIMINAL</p>
          </li>  
        </ul>  

    </div>
